<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>My heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid libero, doloremque animi in inventore accusamus totam quis voluptate tempora nostrum esse provident iste amet incidunt culpa blanditiis, voluptatem quod! Autem, odio eius maiores molestiae ea vel modi non consectetur esse at iste nulla totam tempora placeat, voluptas fuga, numquam dolores.</p>
</body>
</html>